.v-text-field {
    &__details {
        display: none;
    }
}
.v-text-field {
    &--outlined {
        & > .v-input__control {
            & > .v-input__slot {
                background-color: #fff;
            }
        }
    }
}
.v-input__icon {
    &--prepend {
        margin-left: 10px;
    }
}

.v-data-table{
    margin-top: 20px;
    &--has-top{
        &>div{
            text-align:right;
       padding-right:24px;
        }
    }
    
    & table{
        word-wrap:  break-word;
          overflow-wrap: anywhere;
    }
}
@media screen and (max-width: 576px) {
    .v-data-table {
        &__wrapper {
            &,
            & td {
                font-size: 14px;
            }
        }
    }
}
